.toggle-icon {
  display: inline-block;
}

.toggle-icon-symbol {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.tree-item-group {
  font-size: 12px;
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid #ccc;
}

.tree-item {
  padding: 0.75rem;
  cursor: pointer;
  color: #333;
  background: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative;
}

.tree-item--active {
  color: white;
  background: #179ed3;
  border-bottom: none;
}

.tree-item--focused {
  box-shadow: 0 0 5px 0 #222;
  z-index: 999;
}

.search {
  /* padding: 1rem 1.5rem; */
  width: 100%;

  box-shadow: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0.5px;
  padding-left: 0px;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: rgb(50, 49, 48);
  min-width: 0px;
  text-overflow: ellipsis;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  flex: 1 1 0px;
  overflow: hidden
}
